.form-field {
  font-size: 1.1rem;

  .form-field__error-list {

    .error-list__error-description {

    }
  }

  .form-field__label {
    margin-bottom: 0.5em;
  }

  .form-field__control {

  }

  .form-field__control input {
    width: 60vw;
    max-width: 400px;
    border: 1px solid #6a4d38;
    margin-bottom: 0.5em;
  }

  .form-field__control textarea {
    width: 90vw;
    max-width: 800px;
    border: 1px solid #6a4d38;
    margin-bottom: 0.5em;
  }

  .form-field__help {

  }

}
