// style for login and password field in popup auth form
@mixin formInput() {
  background-color: white;
  padding: 0.6em 0.7em 0.6em 0.7em;
  width: 80%;
  font-size: 1rem;
  outline: none;
}


// style for popup button disabled/not disabled
@mixin formSubmitStyle() {
  color: white;
  border: 1px solid black;
  padding: 0.8em 0.7em 0.8em 0.7em;
  width: 85%;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 1.5em;
}


// indentation and other styles for fields of registration form
@mixin indentation() {
  margin-bottom: 0.7em;
  margin-top: 0.3em;
  font-size: 0.8rem;
  width: 70vw;
  max-width: 450px;
}

@mixin registerBtn() {
  color: white;
  border: 1px solid black;
  padding: 0.6em 0.7em 0.6em 0.7em;
  width: 50vw;
  max-width: 300px;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 1.5em;
  margin-top: 2.5vh;
}
