html,
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-size: 17px;
  /*overflow: hidden; //add to media for phones and tablets*/
}

body {
  background-image: url("../img/background.jpg");
}

@import "normalize.scss";
@import "mixins.scss";
@import "variables.scss";
@import "blocks/header/header.scss";
@import "blocks/footer/footer.scss";
@import "global/mobile-menu.scss";
@import "global/popup.scss";
@import "global/registration.scss";
@import "global/preloader.scss";