.flex-container {

  .flex-container__header {

    .header__logo {

      .logo__block {
        display: flex;
        justify-content: center;
        padding-top: 4vh;
        padding-bottom: 3vh;
      }
    }

    .header__list {
      display: flex;
      justify-content: space-between;
      background-color: #826550;
      align-items: center;

      .list__page-name {
        display: flex;
        color: #ffffff;
        font-size: 1.1rem;
        margin: auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 3em;
      }

      .nav__img {
        background-color: #6a4d38;

        .img--active {
          cursor: pointer;
          padding: 2.3vh;
        }
      }
    }
  }
}

.header__line {
  width: 100vw;
  height: 7px;
  background-color: #5f493a;
  position: absolute;
  border-radius: 0 0 0 50%;
}

.header__user {
  color: white;
  position: absolute;
  right: 5vw;
  background-color: #5f493a;
  padding: 0.1em 0.5em 0.1em 0.5em;
  border-radius: 0 0 10px 10px;

  .user__username, .user__logout {
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
  }
}