//.preloader {
//  position: fixed;
//  left: 0;
//  top: 0;
//  width: 100%;
//  height: 100%;
//  background: black;
//  z-index: 2;
//  transition: 1s all;
//  opacity: 1;
//  visibility: visible;
//
//  .loader {
//    width: 75px;
//    height: 75px;
//    border: 10px solid white;
//    border-radius: 50%;
//    border-top-color: blue;
//    position: absolute;
//    left: 50%;
//    top: 50%;
//    transform: translate(-50%, -50%);
//    animation: 2s spin infinite linear;
//  }
//
//  &.done {
//    opacity: 0;
//    visibility: hidden;
//  }
//}
//
//@keyframes spin {
//  from {
//    transform: translate(-50%, -50%) rotate(0deg);
//  }
//  to {
//    transform: translate(-50%, -50%) rotate(360deg);
//  }
//}


.preloader-2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 2;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
  background: url("../img/loader-hd.gif") center no-repeat;
  background-color: #110F11;

  .loader {
    width: 100%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    color: white;
  }

  &.done {
    opacity: 0;
    visibility: hidden;
  }
}