{% extends "base.html" %}
{% block title %}
    Правка новости :: {{ object.title }}
{% endblock %}
{% block content %}
    <div class="news-add">
        <h2 class="news-add__title">Правка новости</h2>
        <div class="news-add__form">
            <form class="form__form" action="" method="post">
                {% include "generic/form.html" %}
                <div class="form__btn">
                    <input class="btn--style" type="submit" value="Сохранить">
                </div>
            </form>
        </div>
        <p class="news-add__container">
            <a class="container__link" href="{% url "news_index" %}?page={{ pn }}">Назад</a>
        </p>
    </div>

{% endblock %}