{% extends "base.html" %}
{% load bbcode_tags %}
{% block title %}
    Удаление новости :: {{ object.title}}
{% endblock %}
{% block content %}
    <div class="new-delete">
        <h2 class="new-delete__title">Удаление новости</h2>
        <h3 class="new-delete__title2">{{ object.title}}</h3>
        <div class="new-delete__content">{{ object.content|bbcode|safe }}</div>
        <p class="new-delete__posted">
            {{ object.posted|date:"j.m.Y H:i:s" }}
        </p>
        <form class="form__form" action="" method="post">
            {% csrf_token %}
            <span class="form__btn">
                <input class="btn--style" type="submit" value="Удалить">
            </span>
        </form>
{#        <div class="form__btn">#}
{#            <input class="btn--style" type="submit" value="Удалить">#}
{#        </div>#}
        <p class="news-delete__container">
            <a class="container__link" href="{% url "news_index" %}?page={{ pn }}">Назад</a>
        </p>
    </div>
{% endblock %}