{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Новости
{% endblock %}
{% block content %}
    <div class="news">
        {% include "generic/messages.html" %}
        <h2 class="news__title">Новости</h2>
        {% if user.is_superuser %}
            <p class="news__container">
                <a class="container__link" href="{% url "new_add" %}">Добавить новость</a>
            </p>
        {% endif %}
        {% for object in latest %}
            <h3 class="news__title2">
                <a class="title2__link" href="{% url "news_detail" pk=object.pk %}?page={{ page_obj.number }}">
                    {{ object.title }}
                </a>
            </h3>
            <p class="news__posted">
                {{ object.posted|date:"j.m.Y h:i" }}
            </p>
            <p class="news__container2">
                {% if user.is_superuser %}
                    <a class="container2__link" href="{% url "news_edit" pk=object.pk %}?page={{ page_obj.number }}">
                        Изменить
                    </a>
                {% endif %}
                {% if user.is_superuser %}
                    <a class="container2__link container2--margin" href="{% url "news_delete" pk=object.pk %}?page={{ page_obj.number }}">
                        Удалить
                    </a>
                {% endif %}
            </p>
        {% endfor %}
        {% include "generic/pagination.html" %}
    </div>
    <div>
        <img class="triangle" src="{% static "img/trReviews.svg" %}">
    </div>
{% endblock %}

